---
- name: "Updates"
  become: true
  hosts: all
  tasks:
    - name: "Update system"
      ansible.builtin.apt:
        update_cache: true
        force_apt_get: true
        cache_valid_time: 3600

    - name: "Upgrade system"
      ansible.builtin.apt:
        upgrade: dist
        force_apt_get: true

    - name: "Tooling"
      ansible.builtin.apt:
        name: "{{ item }}"
        state: present
      with_items:
        - htop
        - tree
        - net-tools
        - ncdu
        - jq
      retries: 50
      delay: 5

    - name: "Update Message of the Day Warning"
      ansible.builtin.copy:
        content: |
          #!/bin/sh
          cat <<EOF
          $(printf '%b' "\033[7m")
          ####################### NEVER MANUALLY MODIFY CONFIGURATION #######################
          ###################################################################################
          $(printf '%b' "\033[27m")
          EOF
        dest: /etc/update-motd.d/20-warning
        mode: a+x
        
    - name: "Check /etc/motd"
      ansible.builtin.stat:
        path: /etc/motd
      register: motd_file
      when: ansible_os_family == "Debian"

    - name: "Rename /etc/motd to /etc/motd.bak"
      ansible.builtin.command:
        cmd: mv /etc/motd /etc/motd.bak
      when: 
        - ansible_os_family == "Debian"
        - motd_file.stat.exists
        - not motd_file.stat.islnk      
